LINUX 
 CLASS -1 

to create folder mkdir folder name
to create file inside folder touch file name.txt

update and installation

update command: apt update
nano - version (shows what version your application is)
nano filename.txt - to open 
and ctrl x to exit
cat filename.c - to check what is written inside nano file

apt install build-essential



inside nano 

#include<stdio.h>

int main(){
	printf("this is a new test file");
	return 0;
}
